@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: 56 70 89;
  --default-grey: 56 56 59;
  --light-grey: 223 224 225;
  --white: 255 255 255;
  --primary-blue: 0 113 227;
}

body,
html {
  background-color: rgb(var(--dark-blue));
  color: rgb(var(--white));
  scroll-behavior: smooth;
}

.header-burger {
  display: none;
}

@media (max-width: 929px) {

  .nav-links-container {
    display: none;
  }

  .header-burger {
    display: block;
  }
}

.burger-box {
  width: 24px;
  height: 24px;
  position: relative;
}

.burger-inner .top-bun,
.burger-inner .bottom-bun {
  position: absolute;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: rgb(var(--white));
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.burger-inner .top-bun {
  top: 6px;
}

.burger-inner .bottom-bun {
  bottom: 6px;
}

.burger-inner.open .top-bun {
  transform: translateY(6px) rotate(45deg);
  background-color: rgb(var(--default-grey));
}

.burger-inner.open .bottom-bun {
  transform: translateY(-6px) rotate(-45deg);
  background-color: rgb(var(--default-grey));
}

@layer components {
  .nav-link {
    @apply relative flex items-center text-white text-right font-light text-base leading-[28.8px] whitespace-nowrap px-0 py-[1.6px];
  }

  .nav-link::after {
    content: '';
    @apply absolute left-0 -bottom-1 h-[2px] w-full bg-current transform origin-left scale-x-0 transition-transform duration-300 ease-in-out;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    @apply scale-x-100;
  }

  .footer-link {
    @apply relative block text-white;
  }

  .footer-link::after {
    content: '';
    @apply absolute left-0 -bottom-1 h-[2px] w-full bg-current transform origin-left scale-x-0 transition-transform duration-300 ease-in-out;
  }

  .footer-link:hover::after,
  .footer-link.active::after {
    @apply scale-x-100;
  }

  .btn {
    @apply inline-flex items-center justify-center rounded bg-primary-blue text-white transition-all duration-300 hover:opacity-90;
    padding: 30px 42px;
    font-size: 16px;
    line-height: 16px;
  }
  .nav-button {
    @apply inline-flex items-center justify-center rounded bg-primary-blue text-white transition-all duration-300 hover:opacity-90 text-base leading-4;
    padding: 9px 16px 10px;
  }
}
